@font-face{
    font-family: Rubik-Regular;
    src: url('./fonts/Rubik-Regular.ttf');
}
@font-face{
    font-family: Rubik-Italic;
    src: url('./fonts/Rubik-Italic.ttf');
}
@font-face{
    font-family: Rubik-Bold;
    src: url('./fonts/Rubik-Bold.ttf');
}

* {
    box-sizing: border-box;
    direction: rtl;
}

html {
    font-family:  Rubik-Regular;
}

body {
    
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  Rubik-Bold;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
.full{
    grid-column: 1 /-1;
}
.middle{
    grid-column: 2;
}
.hidden{
    display: none;
}